<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12">
      <hr style="border-top: 2px solid black; margin-bottom: 20px;">
      <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Vivero el Otoño</h1>
      <hr style="border-top: 2px solid black; margin-top: 20px;">
      <img src="../../../assets/vivero.png" class="img-fluid" alt="Imagen" style="max-width: 100%; height: auto;"> <!-- Reducimos el tamaño máximo de la imagen -->
      <hr style="border-top: 2px solid black; margin-top: 20px;">
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <table class="table table-responsive" style="max-width: 80%;">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Común</th>
            <th scope="col">Tipo</th>
            <th scope="col">Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planta of plantas">
            <th scope="row">{{ planta.id }}</th>
            <td>{{ planta.nombre_comun }}</td>
            <td>{{ planta.tipo }}</td>
            <td>{{ planta.clima }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p><strong> Total plantas de Interior: </strong> {{ interior_plantas }}</p>
      <p><strong> Total plantas de Exterior:</strong> {{ exterior_plantas }}</p>
    </div>
  </div>
</div>
